JardenPOC/JardenWeb/WebContent/shop/ServiceCatalogWS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:cat="http://com.zurich.ep/catalog"
  targetNamespace="http://com.zurich.ep/catalog"
  name="ServiceCatalogWSServiceDefinitions">
	<types>
		<xs:schema
		 targetNamespace="http://com.zurich.ep/catalog"
		 xmlns="http://com.zurich.ep/catalog"
		 xmlns:xs="http://www.w3.org/2001/XMLSchema"
		 attributeFormDefault="unqualified" elementFormDefault="qualified">

			<xs:include schemaLocation="ServiceBeans.xsd"/>
			<xs:include schemaLocation="PackageBeans.xsd"/>

			<xs:element name="getPackageHierarchy">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="packageName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPackageHierarchyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="packageBeans"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getMemberPackages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="packageName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMemberPackagesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="packageBeans"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getService">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="serviceName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="serviceBean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getMemberServices">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="packageName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMemberServicesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="serviceBeans"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="reloadCatalog">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reloadCatalogResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>

	<message name="getPackageHierarchy">
		<part name="parameters" element="cat:getPackageHierarchy"/>
	</message>
	<message name="getPackageHierarchyResponse">
		<part name="parameters" element="cat:getPackageHierarchyResponse"/>
	</message>
	<message name="getMemberPackages">
		<part name="parameters" element="cat:getMemberPackages"/>
	</message>
	<message name="getMemberPackagesResponse">
		<part name="parameters" element="cat:getMemberPackagesResponse"/>
	</message>
	<message name="getService">
		<part name="parameters" element="cat:getService"/>
	</message>
	<message name="getServiceResponse">
		<part name="parameters" element="cat:getServiceResponse"/>
	</message>
	<message name="getMemberServices">
		<part name="parameters" element="cat:getMemberServices"/>
	</message>
	<message name="getMemberServicesResponse">
		<part name="parameters" element="cat:getMemberServicesResponse"/>
	</message>
	<message name="reloadCatalog">
		<part name="parameters" element="cat:reloadCatalog"/>
	</message>
	<message name="reloadCatalogResponse">
		<part name="parameters" element="cat:reloadCatalogResponse"/>
	</message>

	<portType name="ServiceCatalogWS">
		<operation name="getPackageHierarchy" parameterOrder="parameters">
			<input message="cat:getPackageHierarchy"/>
			<output message="cat:getPackageHierarchyResponse"/>
		</operation>
		<operation name="getMemberPackages" parameterOrder="parameters">
			<input message="cat:getMemberPackages"/>
			<output message="cat:getMemberPackagesResponse"/>
		</operation>
		<operation name="getService" parameterOrder="parameters">
			<input message="cat:getService"/>
			<output message="cat:getServiceResponse"/>
		</operation>
		<operation name="getMemberServices" parameterOrder="parameters">
			<input message="cat:getMemberServices"/>
			<output message="cat:getMemberServicesResponse"/>
		</operation>
		<operation name="reloadCatalog" parameterOrder="parameters">
			<input message="cat:reloadCatalog"/>
			<output message="cat:reloadCatalogResponse"/>
		</operation>
	</portType>
	<binding name="ServiceCatalogWSServiceSoapBinding" type="cat:ServiceCatalogWS">
		<s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getPackageHierarchy">
			<s1:operation style="document"/>
			<input>
				<s1:body parts="parameters" use="literal"/>
			</input>
			<output>
				<s1:body parts="parameters" use="literal"/>
			</output>
		</operation>
		<operation name="getMemberPackages">
			<s1:operation style="document"/>
			<input>
				<s1:body parts="parameters" use="literal"/>
			</input>
			<output>
				<s1:body parts="parameters" use="literal"/>
			</output>
		</operation>
		<operation name="getService">
			<s1:operation style="document"/>
			<input>
				<s1:body parts="parameters" use="literal"/>
			</input>
			<output>
				<s1:body parts="parameters" use="literal"/>
			</output>
		</operation>
		<operation name="getMemberServices">
			<s1:operation style="document"/>
			<input>
				<s1:body parts="parameters" use="literal"/>
			</input>
			<output>
				<s1:body parts="parameters" use="literal"/>
			</output>
		</operation>
		<operation name="reloadCatalog">
			<s1:operation style="document"/>
			<input>
				<s1:body parts="parameters" use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ServiceCatalogWSService">
		<port name="ServiceCatalogWSSoapPort" binding="cat:ServiceCatalogWSServiceSoapBinding">
			<s1:address location="http://localhost:7001/ServiceCatalogWS/ServiceCatalogWS"/>
		</port>
	</service>
</definitions>
