trunk/JardenPOC/ServiceCatalogWS2/src/john/catalog/ServiceBeans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.zurich.com/ep/catalog"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.zurich.com/ep/catalog"
  elementFormDefault="qualified">
	<xs:include schemaLocation="http://ep.uk.zurich.com/SharedModel/catalog/NameValues.xsd"/>
	<xs:complexType name="serviceBean">
		<xs:sequence>
			<xs:element name="serviceName" type="xs:string"/>
			<xs:element name="packageName" type="xs:string"/>
			<xs:element name="stream" type="xs:string"/>
			<xs:element name="team" type="xs:string"/>
			<xs:element name="endpoints" type="tns:nameValues"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="serviceBean" type="tns:serviceBean"/>

	<xs:complexType name="serviceBeans">
		<xs:sequence>
			<xs:element ref="tns:serviceBean" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="serviceBeans" type="tns:serviceBeans"/>
</xs:schema>
